/* You can add global styles to this file, and also import other style files */
main {
    background-color: #385D65;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}